In [2]:
import pandas as pd

data = pd.read_csv('D:/Programming/data-set/ab_testing.csv')

# پاکسازی داده (Cleaning Data)
# بررسی مقادیر منفی در ستون‌های عددی (Page Views, Time Spent)
data = data[(data['Page Views'] >= 0) & (data['Time Spent'] >= 0)]

# مشاهده داده‌های پاکسازی شده
print(data.head())

# ذخیره داده‌های پاکسازی شده
data.to_csv('cleaned_data.csv', index=False)

   User ID Group  Page Views  Time Spent Conversion   Device          Location
0    14292     B           3         424         No   Mobile  Northern Ireland
1    11682     A           9         342         No   Mobile          Scotland
2    19825     A           2         396         No  Desktop  Northern Ireland
3    16080     B           4         318         No  Desktop             Wales
4    18851     A           1         338        Yes  Desktop          Scotland

In [4]:
# 2. تبدیل داده (Transformation Data)
# تبدیل ستون‌های متنی به مقادیر عددی با استفاده از کدگذاری برچسب (Label Encoding) برای 'Group' و 'Device'
data['Group'] = data['Group'].map({'A': 0, 'B': 1})
data['Device'] = data['Device'].map({'Mobile': 0, 'Desktop': 1})

# تبدیل Location به متغیرهای جداگانه با استفاده از One-Hot Encoding
data = pd.get_dummies(data, columns=['Location'])

# مشاهده داده‌های تبدیل شده
print(data.head())

# ذخیره داده‌های پیش‌پردازش شده
data.to_csv('processed_data.csv', index=False)

   User ID  Group  Page Views  Time Spent Conversion  Device  \
0    14292      1           3         424         No       0
1    11682      0           9         342         No       0
2    19825      0           2         396         No       1
3    16080      1           4         318         No       1
4    18851      0           1         338        Yes       1

   Location_England  Location_Northern Ireland  Location_Scotland  \
0             False                       True              False
1             False                      False               True
2             False                       True              False
3             False                      False              False
4             False                      False               True

   Location_Wales
0           False
1           False
2           False
3            True
4           False